body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
#navbar-header{
    width: 100%;
    min-width:1024px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0,.7);
    text-align: center;
    font-family: "Arial", sans-serif;
    z-index: 1;
}
#navbar-left{
    width: 150px;
    height: 48px;
    position:relative;
    top:0;
    left:110px;
}
#navbar-left img{
    position: absolute;
    left: 10px;
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
#navbar-left a{
    position: absolute;
    right:0;
    text-decoration: none;
    font-size: 18px;
    margin-top:12px;
    color: white;
}
#navbar-right{
    width: 280px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 110px;
}
#navbar-right ul{
    list-style-type: none;
    margin-top: 0px;
}
#navbar-right li{
    display: inline-block;
    width: 120px;
    height: 48px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1px;
    margin-left: -5px;
    box-sizing: border-box;
    padding-top: 11px;
    margin-top:0;
}
#navbar-right li a{
    width: 120px;
    height: 48px;
    text-decoration: none;
    color: white;
}
#navbar-right li a:hover{
    cursor: pointer;
}
.active{
    border-bottom: 4px solid rgb(255, 228, 1);
}
.container{
    width: 80%;
    min-width: 980px;
    height: 100%;
    margin: 90px auto;
}
.container h1{
    font-family: "Arial", sans-serif;
    font-size: 35px;
    padding-left: 45px;
}
.container form{
    width: 100%;
    height: 350px;
    margin: -25px auto;
}
.container ul{
    list-style-type: none;
    width: 45%;
    height: 300px;
    display: inline-block;
    float: left;
}
.container ul li{
    margin-top: 7px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}
.container ul li label{
    width: 70px;
    height: 26px;
    box-sizing: border-box;
    display: block;
    padding-left: 2px;
    padding-top: 9px;
    font-weight: bold;
}
.container ul li input{
    width: 95%;
    height: 32px;
    border-radius: 5px;
    border:1px solid rgb(221,221,221);
    box-shadow: 0px 2px 9px -5px #ccc inset;
}
textarea{
    width: 95%;
    border-radius: 5px;
    border:1px solid rgb(221,221,221);
    box-shadow: 0px 2px 9px -5px #ccc inset;
    font-family: "Arial", sans-serif;
}
.bottom-button{
    position: relative;
    top: 360px;
    height: 30px;
    width: 100%;
}
.bottom-button a, .bottom-button button{
    width: 120px;
    height: 40px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgb(221,221,221);
    text-align:center;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}
.bottom-button a{
    left: 50px;
    background: white;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}
.bottom-button button{
    right: 5%;
    background: rgb(67,176,95);
    color: white;
}
@-moz-document url-prefix(){
    textarea{
        width: 95%;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    textarea{
        width: 95%;
    }
}
