body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#gradient{
    width: 100%;
    height: 100%;
    min-height:100%;
    position:fixed;
    bottom: 0;
    right: 0;
    background:rgb(234, 195, 209);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd6f3), to(#faaca8));
    background: -webkit-linear-gradient(top, #ddd6f3, #faaca8); 
    background: -moz-linear-gradient(top, #ddd6f3, #faaca8); 
    background: -ms-linear-gradient(top, #ddd6f3, #faaca8); 
    background: -o-linear-gradient(top, #ddd6f3, #faaca8);
    background: linear-gradient(to bottom right, #ddd6f3, #faaca8);
    background-attachment:fixed;
    overflow-x: hidden;
    overflow-y:auto;
}
#navbar-header{
    width: 100%;
    min-width:1024px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0,.7);
    text-align: center;
    font-family: "Arial", sans-serif;
    z-index: 1;
}
#navbar-left{
    width: 150px;
    height: 48px;
    position:relative;
    top:0;
    left:110px;
}
#navbar-left img{
    position: absolute;
    left: 10px;
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
#navbar-left a{
    position: absolute;
    right:0;
    text-decoration: none;
    font-size: 18px;
    margin-top:-2px;
    color: white;
}
#navbar-right{
    width: 280px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 110px;
}
#navbar-right ul{
    list-style-type: none;
    margin-top: 0px;
}
#navbar-right li{
    display: inline-block;
    width: 120px;
    height: 48px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1px;
    margin-left: -5px;
    box-sizing: border-box;
    padding-top: 11px;
    margin-top:0;
}
#navbar-right li a{
    width: 120px;
    height: 48px;
    text-decoration: none;
    color: white;
}
#navbar-right li a:hover{
    cursor: pointer;
}
.container{
    width: 280px;
    height: 470px;
    position: relative;
    margin: 100px auto;
    box-shadow: 1px 1px 9px 5px rgba(255, 255, 255,0.9);
    border-radius: 5px;
    padding: 0;
    background:rgb(238,238,238);
}
#display{
    width: 280px;
    height: 120px;
    background: rgb(254,254,254);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgb(238,238,238);
}
#result{
    width: 99%;
    height: 96%;
    color: white;
    font-size: 53px;
    letter-spacing: -1px;
    position: relative;
    background: rgb(254,254,254); 
    text-align: right;
    outline: none;
    border: 0;
    color:rgba(0,21,71,0.8);
    border-radius: 5px 5px 0 0;
}
#keyboard{
    width: 100%;
    position: relative;
}
p{
    margin: 0;
}
#keyboard input{
    width: 70px;
    height: 70px;
    border: 0;
    background: rgb(254,254,254);
    font-size: 24px;
    color: rgba(0,0,0,0.5); 
    cursor: pointer;
    border:1px solid rgb(238,238,238);
    outline: none;  
}
#keyboard input:hover{
    border: 2px solid rgb(228, 196,25);   
}
#down-left-radius{
    border-radius: 0 0 0 5px; 
}
#keyboard p:first-child input{
   background: rgb(245, 245, 245);
}
#keyboard p input:last-child{
    background:rgba(0,21,71, 0.9);
}
#keyboard #equal{
    border-radius: 0 0 5px 0;
    background: rgb(228, 196,25);
}
#row5 input:nth-child(2), #row5 input:nth-child(3){
    background:rgb(245, 245, 245); 
    
} 
.active{
    border-bottom: 4px solid rgb(255, 228, 1);
}
