* {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  height:100%;
  font: 15px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  overflow-x:hidden;
  overflow-y:auto;
}
#background {
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/sunglow_1.jpg);
}
#navbar-header{
    width: 100%;
    min-width: 1024px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0,.5);
    text-align: center;
    font-family: "Arial", sans-serif;
    z-index: 1;
}
#navbar-left{
    width: 150px;
    height: 48px;
    position:relative;
    top:0;
    left:110px;
}
#navbar-left img{
    position: absolute;
    left: 10px;
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
#navbar-left a{
    position: absolute;
    right:0;
    text-decoration: none;
    font-size: 18px;
    margin-top:12px;
    color: white;
}
#navbar-right{
    width: 280px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 110px;
}
#navbar-right ul{
    list-style-type: none;
    margin-top: 0px;
}
#navbar-right li{
    display: inline-block;
    width: 120px;
    height: 48px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1px;
    margin-left: -5px;
    box-sizing: border-box;
    padding-top: 11px;
    margin-top:0;
}
#navbar-right li a{
    width: 120px;
    height: 48px;
    text-decoration: none;
    color: white;
}
#navbar-right li a:hover{
    cursor: pointer;
}
#player {
  width: 500px;
  height: 130px;
  padding: 25px;
  margin: 100px auto 10px;
  position: relative;
}
#player .cover {
  background: rgba(242, 242, 242, 0.5);
  border: 1px solid #333;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
  border-radius: 10px;
  width: 130px;
  height: 130px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  user-select: none;
}
#player .ctrl {
  margin-left: 155px;
  line-height: 16px;
}
#player .ctrl .tag strong, #player .ctrl .tag span {
  display: block;
  text-overflow: ellipsis;
}         
#player .ctrl .tag span {
  font-size: 12px;
  margin-top: 5px;
  color: rgb(76, 77, 77);
}
#player .ctrl .control {
  margin-top: 5px;
  height: 25px;
  display: flex;
  justify-content: center;
}
#player .ctrl .icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  transition: 0.3s;
  user-select: none;
}
div.playbutton {
  background-image: url(../imgs/play_1.png);
}
div.prev {
  background-image: url(../imgs/prev_1.png);
}
div.pause {
  background-image: url(../imgs/pause_1.png);
}
div.next {
  background-image: url(../imgs/next_1.png);
}
div.p_slider {
  margin-top: 10px;
  height: 5px;
  background:#258fb8;
  box-shadow: 1px 1px 2px 0 #ccc inset;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
div.p_pace {
  position: absolute;
  height: 100%;
  opacity: 0.7;
  border-radius: 5px;
  background: #fff;
}
#player .ctrl .volume {
  margin-top: 5px;
  height: 25px;
  user-select: none;
  position: relative;
}
div.mute_enable {
  background-image: url(../imgs/sound-512_1.png);
}
div.mute {
  background-image:url(../imgs/mute_1.png);
}
div.time{
  position: absolute;
  left: 0;
  font-size: 12px;
  color: rgb(76, 77, 77);  
}
.volume_right{
    display: flex;
    justify-content: space-between;
}
div.v_slider {
  display: inline-block;
  height: 5px;
  width: 90px;
  margin-left: 5px;
  top: -9px;
  background:#258fb8;
  box-shadow: 1px 1px 2px 0 #ccc inset;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
div.v_pace { 
  position: absolute;
  height: 100%;
  opacity: 0.7;
  border-radius: 5px;
  background: #fff;
}

#playlist {
  background: rgba(242, 242, 242, 0.5);
  width: 500px;
  margin: 30px auto ;
  padding: 0;
  list-style:none;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
#playlist li {
  color: rgb(76, 77, 77);
  font-size: 13px;
  line-height: 2;
  padding-left: 55px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
#playlist li:nth-child(even){
    background-color: rgba(217, 217, 217, 0.5);
}
#playlist li:hover {
  background-color: rgba(140, 140, 140, 0.6);
}
#playlist li.playing {
  background-image: url(../imgs/sound-512_1.png);
  background-repeat:  no-repeat;
  background-position: 0px center;
  font-weight: bold;
  color: rgb(0, 0 ,0);
}

.active{
    border-bottom: 4px solid rgb(255, 228, 1);
}
