body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#navbar-header{
    width: 1500px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    padding-left: 110px;
    font-family: "Arial", sans-serif;
    z-index: 1;
}
#navbar-left{
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#navbar-left img{
    position: relative;
    width: 35px;
    height: 35px;
    top: -5px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}
#navbar-left a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    color: white;
}
#navbar-right{
    width: 320px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 960px;
}
#navbar-right ul{
    width: 280px;
    height: 48px;
    list-style-type: none;
    margin: 0px auto;
}
#navbar-right li{
    display: inline-block;
    width: 120px;
    height: 48px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1px;
    margin-left: -5px;
    box-sizing: border-box;
    padding-top: 11px;
}
#navbar-right li a{
    width: 120px;
    height: 48px;
    text-decoration: none;
    color: white;
}
#navbar-right li a:hover{
    cursor: pointer;
}
.active{
    border-bottom: 4px solid rgb(255, 228, 1);
}
#cv{
    width: 800px;
    height: 1070px;
    margin: 50px auto;
    background: url(../imgs/Yuyuan_CV.jpg) no-repeat;
}
